nav {
    background-color: #131A21;
    display: flex;
    justify-content: space-between;
}

nav a {
    font-size: 1.1em;
    font-weight: 600;
}

body {
    position: absolute;
    background-image: url(https://m.media-amazon.com/images/I/712+E0tkPSL._SX3000_.jpg);
    background-repeat:no-repeat;
    background-size: 100% 70%;
    background-attachment: fixed;
    width: 100%;
    position: relative;
    margin-left: 0px;
    padding: 0px;

}

body::after {
    content: '';
    background: rgba(255, 255, 255, 0.472);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.753) 24%, rgb(251, 251, 251) 49%, rgb(209, 209, 209) 83%, rgb(209, 208, 208) 100%);
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 300px;
    /* right: 5px; */

}   

.main .row {
   margin-top: 250px;
   
   
}

.main .card {
    z-index: 2;
    border: none;
}
.main .card:hover {
    z-index: 2;
    border: none;
    background-color: rgba(255, 255, 255, 0.603);
}

.main .card img {
    object-fit: cover;
    background-color: transparent;
}
.main .card-body>div>span {
    text-align: center;
    padding-top: 5px;
    position: absolute;
    top: 0px;
    right: 5px;
    border-radius: 0px;
    height: 50px;
    
}
.main .card-body>span {
    text-align: center;
    padding-top: 5px;
    position: absolute;
    bottom: 15px;
    right: 10px;
    border-radius: 0px;
    height: 30px;
    font-size: 25px;
    
}

.backoffice {
    margin-top: 150px;
    margin-bottom: 100px;
}
.backoffice h2 {
    color: white;
}

.backoffice .form {
   z-index: 2;
}